.page-header__user-button {
  background: transparent;
  border: none;
  width: 3rem;
  padding-right: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-button__icon {
  font-size: 2.2rem;
  cursor: pointer;
  color: white;
}

.user-button__image {
  height: 2.2rem;
  width: 2.2rem;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  border-radius: 50%;
  object-fit: cover;
}
