@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.page-header__logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.page-header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container__logo-image {
  width: 4rem;
  height: 4rem;
}

.logo-container__logo-title {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: #b10002;
  margin-right: 0.3rem;
}
