.page-header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 0.5rem;
}
